src/main/mule/businesspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c26593b0-41af-4bae-985b-fd865bf96a6c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="businesspocFlow" doc:id="b99aaa14-2a1e-44a5-a7c2-a80a2cddafc8" >
		<http:listener doc:name="Listener" doc:id="4ef6d6de-9299-4d1b-8b94-dedfec90b794" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="8ac3a618-b761-4996-9513-181743bdb439" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Diwaali_offer":"New batch starts from 1 November. Upto 50% discount on tution fee. Mobile number 7018296187"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cd229a40-1649-413f-8932-db192dbb8c60" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="18308c62-5420-4521-ab3b-4d4aeda72c42" />
		<logger level="INFO" doc:name="Logger" doc:id="5258cfa0-ebf9-41d1-a2e6-c85ab33719f9" />
	</flow>
</mule>
